<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo reference="chassis" >
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="left_back_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_back_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="left_front_wheel">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="right_front_wheel">
        <material>Gazebo/Green</material>
    </gazebo>



        <!-- <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            
            Wheel Information
            <left_front_joint>left_front_wheel_joint</left_front_joint>
            <left_back_joint>left_back_wheel_joint</left_back_joint>
            <right_front_joint>right_front_wheel_joint</right_front_joint>
            <right_back_joint>right_back_wheel_joint</right_back_joint>
            <left_joint>left_back_wheel_joint</left_joint>
            <right_joint>right_back_wheel_joint</right_joint>
            <wheel_separation>0.25</wheel_separation>
            <wheel_diameter>0.11</wheel_diameter>
            

            Limits
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>20.0</max_wheel_acceleration>

            Output
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo> -->
  
</robot>